<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>TIMER</h2>
<h3>Список и удаление</h3>
{% if circles %}
    {% for circle in circles %}
        {% if circle.name %}
            <p>{{ circle.name }}</p>
        {% endif %}
        {% if circle.description %}
            <p>{{ circle.description }}</p>
        {% endif %}
        {% if circle.is_done %}
            <p>Выполненно</p>
        {% endif %}
        {% if circle.created_at %}
            <p>{{ circle.created_at }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="number" value="{{ circle.id }}" hidden name="id">
            <button type="submit">x</button>
        </form>
    {% endfor %}
{% else %}
    Циклов нет
{% endif %}
<h3>Создание</h3>
<form method="POST">
    {% csrf_token %}
    {{ create_circles.as_p }}
    <button type="submit">Отправить</button>
</form>
<h3>Удаление всех</h3>
<form method="post">
    {% csrf_token %}
    <input type="text" value="all" hidden name="id">
    <button type="submit">Удалить все</button>
</form>
<h3>Обновление</h3>
<form method="POST">
    <select name="id">
        {% if circles %}
            {% for circle in circles %}
                  <option value="{{ circle.id }}">{{circle.name}}</option>
            {% endfor %}
        {% endif %}
    </select>
    {% csrf_token %}
    {{ create_circles.as_p }}
    <button type="submit">Отправить</button>
</form>


<h2>TASKS</h2>
<h3>Список и удаление</h3>
{% if tasks %}
    {% for task in tasks %}
        {% if task.name %}
            <p>{{ task.name }}</p>
        {% endif %}
        {% if task.description %}
            <p>{{ task.description }}</p>
        {% endif %}
        {% if task.is_done %}
            <p>Выполненно</p>
        {% endif %}
        {% if task.created_at %}
            <p>{{ task.created_at }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="number" value="{{ task.id }}" hidden name="id">
            <button type="submit">x</button>
        </form>
    {% endfor %}
{% else %}
    Дел нет
{% endif %}
<h3>Создание</h3>
<form method="POST">
    {% csrf_token %}
    {{ create_tasks.as_p }}
    <button type="submit">Отправить</button>
</form>
<h3>Удаление всех</h3>
<form method="post">
    {% csrf_token %}
    <input type="text" value="all" hidden name="id">
    <button type="submit">Удалить все</button>
</form>
<h3>Обновление</h3>
<form method="POST">
    <select name="id">
        {% if tasks %}
            {% for task in tasks %}
                  <option value="{{ task.id }}">{{task.name}}</option>
            {% endfor %}
        {% endif %}
    </select>
    {% csrf_token %}
    {{ create_tasks.as_p }}
    <button type="submit">Отправить</button>
</form>
</body>
</html>